 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <table>
                            <td><b>Distro Name</b></td>
                            <td>:</td>
                            <td>{{ page.distro }}
                            </td></tr>
                            <tr> </tr>
                            <tr>
                            <td><b>Theme</b></td>
                            <td>:</td>
                            <td>{{ page.theme }}
                            </td></tr>
                            <tr> </tr>
                            <td><b>Icon</b></td>
                            <td>:</td>
                            <td>{{ page.icon }}
                            </td></tr>
                            <tr> </tr>
                            <td><b>Extras</b></td>
                            <td>:</td>
                            <td>{{ page.extra }}
                            </td></tr>
                            <tr> </tr>
                            </table>
                            <ul class="list-inline item-details">
                                <li>Author:
                                    <strong><a href="{{ post.facebook }}">{{ post.author }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                                <li>Distro:
                                    <strong><a>{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}